<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="user">
    <h2>Ciao, {{ user.nome }}</h2>
    <p>Email: {{ user.email }}</p>
  </div>

  <h3 style="margin-top:24px;">I tuoi preferiti</h3>
  <ion-list *ngIf="preferiti.length > 0; else noFavorites">
    <ion-item *ngFor="let e of preferiti">
      <ion-label>
        <h3>{{ e.titolo }}</h3>
        <p>{{ e.data }} - {{ e.luogo }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="rimuoviPreferito(e.id)">Rimuovi</ion-button>
    </ion-item>
  </ion-list>
  <ng-template #noFavorites>
    <p>Nessun evento salvato nei preferiti.</p>
  </ng-template>

  <div style="margin-top:16px;">
    <ion-button expand="block" color="primary" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>
