<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>Il mio Profilo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Esci</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="user-info">
    <ion-avatar>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>Utente Demo</h2>
    <p>utente@esempio.it</p>
  </div>

  <h3 class="ion-margin-top">Eventi Salvati</h3>
  <ion-list>
    <ion-item-sliding *ngFor="let p of preferiti">
      <ion-item [routerLink]="['/dettaglio', p.id]">
        <ion-thumbnail slot="start"><img [src]="p.immagineCopertina" /></ion-thumbnail>
        <ion-label>
          <h2>{{p.titolo}}</h2>
          <p>{{p.data}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="rimuovi(p.id)">Elimina</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
